---
layout: default
---
  <header class="masthead text-center text-white d-flex" style="background-image:url(../img/home-bg.png);background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover">
      <div class="container my-auto" >
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase text-dark">
              <strong>openeyes</strong>
            </h1>
            <!--<h3 class="text-lowercase text-dark">
              electronic patient records-->
            </h3>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto text-justify">
            <p class="text-faded text-dark mb-5" >OpenEyes is the leading open source electronic patient record (EPR) for ophthalmology. It has been designed by clinicians to be fast in delivering content, fast to navigate and easy (and fun) to use. We benefit from from a large and growing body of enthusiastic clinicians determined to make OpenEyes the EPR that will help you deliver data-driven patient care in the best way possible. OpenEyes is owned by the community and not by any individual or corporate entity. It can be customised to suite local needs and will scale to connect, seamlessly, primary and secondary eye care.</p>

            <center><a class="btn btn-primary btn-xl js-scroll-trigger" href="#whatIs">Find Out More</a></center>
          </div>
        </div>
      </div>
    </header>



    <section id="whatIs" style="background-color:#a9b9b2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-justify">
            <center><h2 class="section-heading">What Is OpenEyes?</h2></center>
            <hr class="my-4">

                        <p class="mb-0">
                        OpenEyes is an electronic patient record application for ophthamology, developed with contributions from a range of hospitals, institutions, academic departments, companies and individuals. Intuitive to use and fast, it runs in a web browser to ensure that it can be accessed from just about any device in any location. OpenEyes will always be provided free-of-charge under an open source license, making it a cost-effective option for eye care, and, perhaps more importantly, ensuring that its development will always prioritise what clincians really need.</p>
<br>
<p>While OpenEyes can be downloaded and used free of charge anywhere in the world, we recommend that installations in a clinical environment are handled through our UK commercial partner, <a target="_blank" href="https://www.abehr.com/">AB EHR Digital</a> and our international development partner <a href="https://toukanlabs.com" target="_blank">ToukanLabs</a>. Our partners will ensure that your clinical data integrates with hospital workflows and PAS system and that the connections to devices such as OCT machines or visual field devices are robust. You can contact AB EHR digital  and ToukanLabs through their websites to arrange a demonstration or consultation </p>
<br><p>All users of OpenEyes can become members of our development steering group, participating in online and offline discussions to identify and prioritise the OpenEyes development roadmap. To learn more about membership, please call or email us at <a href="mailto:info@openeyes.org.uk">info@openeyes.org.uk</a> and for a more detailed look at OpenEyes, click the button below.</p>

<center><a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio">OpenEyes Features</a></center>
          </div>
        </div>   
      </div>
    </section>

<section id="portfolio" style="background-color:#a9b9b2">
    <div class="container-fluid text-center">
        <!--Examination Feature -->
	        <div class="col-lg-10 mx-auto">
            <div class="row">      
              <div class="col-md-4" style="padding-bottom: 20px">  
                <a class="portfolio-box" href="img/features/fullsize/l-examination-event-lg.jpg">
                      <img class="img-fluid" src="img/features/thumbnails/examination-sm.jpg" alt="">	
                      <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                        Examination Events
                        </div>
                        <div class="project-name">
                        Enter subspeciality specific information
                        </div>
                    </div>
                  </div>
                      </a>                   
                        <!--/Examination Feature -->

        <!--Examination Feature -->
	              
             <div class="col-md-4" style="padding-bottom: 20px">  
                <a class="portfolio-box" href="img/features/fullsize/eyedraw-lg.jpg">
                  <img class="img-fluid" src="img/features/thumbnails/eyedraw-sm.jpg" alt="">	
                      <div class="portfolio-box-caption">
                          <div class="project-category text-white-50">
                            EyeDraw
                          </div>
                          <div class="project-name">
                            Graphical tools to document the eye
                          </div>
                      </div>
              </div>
              </a>                   
      
          <!--/Examination Feature -->

                  <!--Examination Feature -->
	        
              <div class="col-md-4" style="padding-bottom: 20px">  
          <a class="portfolio-box" href="img/features/fullsize/integration-lg.jpg">
            <img class="img-fluid" src="img/features/thumbnails/integration-sm.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Device Integration
              </div>
              <div class="project-name">
                Connect to any device (DICOM)
              </div>
                    </div>
            
                      </a>                   
                </div>   
           
          <!--/Examination Feature -->

        <!--Operation Notes Feature -->
	              
             <div class="col-md-4" style="padding-bottom: 20px">  
          <a class="portfolio-box" href="img/features/fullsize/l-operation-notes-lg.jpg">
            <img class="img-fluid" src="img/features/thumbnails/operation-note-sm.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Operation Notes
              </div>
              <div class="project-name">
                Rapid entry of information for a range of operations
              </div>
                      </div>
              </div>
              </a>                   
      
          <!--/Operation Notes Feature -->

        <!--OEScapeFeature -->
	              
             <div class="col-md-4" style="padding-bottom: 20px">  
          <a class="portfolio-box" href="img/features/fullsize/l-oescape-lg.jpg">
            <img class="img-fluid" src="img/features/thumbnails/OEscape-sm.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                OEscape
              </div>
              <div class="project-name">
                Plot clinical data over time
              </div>
                      </div>
              </div>
              </a>                   
      
          <!--/OEScape Feature -->

        <!--Messaging Feature -->
	              
             <div class="col-md-4" style="padding-bottom: 20px">  
<a class="portfolio-box" href="img/features/fullsize/messaging-lg.jpg">
            <img class="img-fluid" src="img/features/thumbnails/messaging-sm.jpg" alt="">
            <div class="portfolio-box-caption p-3">
              <div class="project-category text-white-50">
                Messaging Tools
              </div>
              <div class="project-name">
                Patient related communications, an integral part of the patient record. 
              </div>
                      </div>
              </div>
              </a>                   
      
          <!--/Examination Feature -->
          </div>
          </div>
          </div>
      </section>
    <section id="button-only" style="background-color:#a9b9b2" style="padding-top:10px">
       <center><a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ '/oedetail' }}">Features In Depth</a></center>
    </section>

  <section id="services" style="background-image:url(../img/home-bg2.jpg);background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-justify">
            <center><h2 class="section-heading">What We Do</h2>
            <hr class="my-4"></hr></center>

            <p>OpenEyes is managed as part of the Apperta Foundation which protects the intellectual property of OpenEyes and ensures that its availability is guaranteed, without compromise for the clinical community. The Apperta Foundation supports the core activities of the <a href="#about" class="js-scroll-trigger">OpenEyes team</a>:</p><br>
                          
              <ul class="list">     
                        <li> Management of the OpenEyes community </li>
                        <li> Commissioning OpenEyes development for the wider community</li>
                        <li> Managing the OpenEyes public (GPL)</li>
                        <li> Managing and protecting OpenEyes’ intellectual property</li>
              </ul>

              
<br>

<p>Continuing this development under the guidance of a charitable, not for profit body is an essential part of our collaborative, public service ethos. OpenEyes cannot, in itself, be sold to a third party ensuring that users have security and can influence development. The OpenEyes team manage the design and development of future versions of OpenEyes in response to feedback from the clinical community.</p>

<p>One of the most important roles of the Foundation is to commission a principal commercial supplier for OpenEyes. While OpenEyes can be downloaded and used without charge, integration in modern hospital environments requires technical support and maintenance to ensure compliance with good clinical practice. The current suppliers for OpenEyes are AB EHR Digital within the UK, and the ToukanLabs internationally. Both companies have a strong commitment to Open Source solutions for the healthcare industry. The Foundation directs commercial inquiries regarding installation and support to AB EHR Digital and ToukanLabs and works with them both to ensure that the most cost effective solutions are applied. AB EHR Digital and ToukanLabs’ role does not exclude the addition of code from outside suppliers or individuals.</p><br></ul>
          </div>
          
        </div>
      <center><a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a></center>
      </div>
    </section>

<section id="about" style="background-color:#a9b9b2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
                       <center> <h1 class="text-uppercase text-dark">
              <strong>Who We Are</strong>
            </h1>
            <h2 class="section-heading text-dark">OpenEyes Executive Team</h2></center>
                        
            <hr class="my-4">
            <p class="text-justify">The executive team comprises clinicians, informaticians and IT experts who combine in-depth knowledge of clinical ophthalmology with a deep and detailed understanding of software. We guide OpenEyes development and connect our clinical groups with our development partners.</p>

{% assign rows = site.members.size | divided_by: 3.0 | ceil %}
{% for i in (1..rows) %}

  <div class="row" style="margin-top: 20px">

  {% assign offset = forloop.index0 | times: 3 %}
  {% for member in site.members limit:3 offset:offset %}
 

          <div class="col-sm-4">
            <div class="card" style="height: 100%;">
             <div class="card-header"><strong>{{ member.name }}</strong> <p><em>{{ member.title }}</em> </p></div>
            <div class="card-body">
            <img src="{{ member.photo }}" style="margin:10px" alt="Card image cap">
            </div>
          </div>
        </div>

  {% endfor %}

</div>

{% endfor %}
            

              </div>
           
          </div>
        </div>

    </section>


<!--
  Disabled latest news currently
	
<section class="text-white" id="news" style="background-color:#ffffff">
      <div class="container text-center">
		  <div class="col-lg-10 mx-auto">
			<h2 class="mb-4 text-dark">Featured Stories</h2>
			<hr class="my-4"> 
				<div class="row"> 

				
							<div class="row" id="stories">
							 {% for post in site.posts limit:3 %}
							  <div class="col-md-4">
								  <div class="thumbnail">
								  <a href="{{ post.url }}">
								  <img  src="{{ post.thumbnail }}" style="width:100%" alt="{{ post.title }}">
									<div class="caption text-dark"><br>
									  <p>{{ post.title }}</p> 
									</div>
								  </a>
								</div>
							  </div>
							{% endfor %}
							</div>



				</div>
			</br>	 
			<a class="btn btn-light btn-xl sr-button" href="{{ '/featured-stories/' }}">More Stories</a>
		</div>
    </div>
</section>
	
  -->