<!-- <section id="contact" class="bg-secondary text-white">-->
        <section id="contact" style="background-color: #1F2734">
            <div class="container text-white">
              <div class="row">
                <div class="col-lg-8 mx-auto text-center text-white">
                  <h2 class="section-heading">Stay Up To Date</h2>
                  <hr class="my-4">
                  <p class="mb-5">Join the conversation with us and keep up with the latest news in all the usual places:</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-2 mr-auto text-center" style="margin-top: 20px">
                   <a href="mailto:info@openeyes.org.uk" class="icon"><i class="fas fa-envelope fa-3x sr-contact"></i></a><br>
                   <a href="mailto:info@openeyes.org.uk" class="icon">info@openeyes.org.uk</a>
      
                </div>
                <div class="col-md-2 mr-auto text-center" style="margin-top: 20px">
                    <a target="_blank" href="https://twitter.com/openeyes_oef" class="icon"> <i class="fab fa-twitter fa-3x sr-contact"></i></a>
                </div>
                <div class="col-md-2 mr-auto text-center" style="margin-top: 20px">
                    <a target="_blank" href="https://github.com/appertafoundation/openeyes" class="icon"> <i class="fab fa-github fa-3x sr-contact"></i></a>
                </div>
                <div class="col-md-2 mr-auto text-center" style="margin-top: 20px">
                   <a href="tel:+447825181141" class="icon"><i class="fas fa-phone fa-3x sr-contact"></i></a><br>
                   <a href="tel:+447825181141" class="icon">+447825181141</a>
                </div>
                <div class="col-md-2 mr-auto text-center" style="margin-top: 20px">
                   <a href="https://forums.apperta.org/c/openeyes" target="_blank" class="icon"><i class="fab fa-discourse fa-3x"></i></a><br>
                </div>
                <div class="col-md-2 mr-auto text-center"style="margin-top: 20px">
                    <a href="/privacy" class="icon"><i class="fas fa-cookie-bite fa-3x sr-contact"></i></a>
                </div>
                
              </div>
            <br>
            <hr class="my-4"> 
            <br>

              
            </div>
          </section>

    
    <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">OpenEyes is a registered Trademark of the Apperta Foundation CIC 2019</br>
      Copyright &copy; 2019 - Start Bootstrap</div>
    </div>
  </footer>
    

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  
    <!-- Custom scripts for this template -->
    <script src="/js/creative.min.js"></script>
  
  </body>

</html>