 <!-- <section id="contact" class="bg-secondary text-white">-->
        <section id="contact" class="bg-secondary text-white">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                  <h2 class="section-heading">Keep Up To Date</h2>
                  <hr class="my-4">
                  <p class="mb-5">Join the conversation with us and keep up with the latest news in all the usual places:</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-3 mr-auto text-center">
                   <a href="mailto:info@openeyes.org.uk"><i class="fas fa-envelope fa-3x sr-contact"></i></a>
      
                </div>
                <div class="col-md-3 mr-auto text-center">
                    <a target="_blank" href="https://twitter.com/openeyes_oef"> <i class="fab fa-twitter fa-3x sr-contact"></i></a>
                </div>
                <div class="col-md-3 mr-auto text-center">
                    <a  target="_blank" href="https://github.com/appertafoundation/openeyes"> <i class="fab fa-github fa-3x sr-contact"></i></a>
                </div>
                <div class="col-md-3 mr-auto text-center">
                    <a href="/privacy"><i class="fas fa-cookie-bite fa-3x sr-contact"></i></a>
                </div>
                
              </div>
            <br>
            <hr class="my-4"> 
            <br>

                

            </div>
          </section>

    

    

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  
    <!-- Custom scripts for this template -->
    <script src="/js/creative.min.js"></script>
  
<!-- Bootstrap 4 DataTables Script -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
  <script>$('#project').DataTable( {
    pagingType: 'full',
    language: {
        paginate: {
            first:    '  «  ',
            previous: '  ‹  ',
            next:     '  ›  ',
            last:     '  »  '
        },
        aria: {
            paginate: {
                first:    'First',
                previous: 'Previous',
                next:     'Next',
                last:     'Last'
            }
        }
    }
} );</script>
  </body>

</html>